*{
    padding: 0px;
    margin: 0px;
}

.backvideo{
    position: fixed;
    
    z-index: -1; 
    top: 0;
    background-size: cover;
    filter: brightness(65%); 

    
  
} 

.header{
    display: flex;
    flex: content;
    justify-content: space-between;
    margin: 20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo1 img{
    cursor: pointer;
    height: 90px;
    width: 90px;
    background-color: black;
    margin: 0px 0px 0px 20px;
}
.logo2{

}
.headtitles{
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    transition: 1s ease-in-out;
    padding: 10px;
    margin: 0px 20px;
    
    
}
.headtitles p{
    transition: 500ms ease-in-out;
    cursor: pointer;
    color: white;
    

    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(253, 240, 255);
}
.headtitles p:hover{
    scale: 1.1;
    color: aqua;
}


.hero1{
    /* background-color: rgb(224, 175, 185); */
    height: 500px;
    cursor: pointer;
}
.hero1 p{
    font-size: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 180px 0px 0px 0px;
    /* background-color: aqua; */
    font-family: 'Times New Roman', Times, serif;
    color:white;
   
}
.hero1 h3{
    justify-content: center;
    text-align: center;
    color:white;
}
.container2-1 h2{
    margin: 30px 0px 10px 30px;
    font-size: 40px;
    cursor: pointer;
    transition: 1s ease-in-out;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container2-1 hr{
    width: 150px;
    height: 4px;
    background-color: rgb(247, 245, 245);
    margin: 10px 0px 10px 30px;
}
.container2-2{
    padding: 30px 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color:white;
    justify-content: center;
}
.container2-2 p{
    font-size: 18px;
    color:white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container2-3 p{
    
    gap: 5px;
    font-size: 18px;
    color:white;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container3-1 h1{
    margin: 10px 20px 10px 30px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container3-1 hr{
    width: 100px;
    height: 3px;
    background-color: rgb(154, 171, 190);
    margin: 10px 0px 10px 30px;
}
.techevent1{
    /* background-color: bisque; */
    height: 600px;
    margin: 30px;
    color:white;
    
}
.ppp1{
    width: 70%; justify-content: center; align-items: center; margin: 0px 0px 0px 90px;
}
.techevent1 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.techevent1 p{
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color:#white;   
}
.topics{
    font-size: 20px;
    color:#C0C0C0;
}
.container3-2{
    display: flex;
    justify-content: space-evenly; 
     margin: 10px 100px 10px 0px; 
}
.ppc1 h4, h5{
    margin: 10px;
}
.ppc2 h4, h5{
    margin: 10px;
}
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(233, 62, 207);
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: rgb(191, 22, 238);
}
.techevent2{
    /* background-color: bisque; */
    height: 600px;
    margin: 30px;
    
}
.pymp{
  width: 70%; 
  justify-content: center; 
  align-items: center; 
  margin: 20px 0px 0px 90px;
  color:white;
}
.techevent2 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.techevent2 p{
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color:white;
}
.topics{
    font-size: 20px;
     color: brown; 
}
.container4-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.pml{
    margin: 15px 20px;
    font-size: 20px;
    color:white;
}
.container4-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.pym1 h4, h5{
    margin: 10px 0px;
    color:white;
}
.pym2 h4, h5{
    margin: 10px 0px;
    color:white;
}
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(233, 62, 207);
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: rgb(191, 22, 238);
}
.techevent3{
    /* background-color: bisque; */
    height: 500px;
    margin: 30px;
    
}
.qbp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 90px;
    font-size: 18px;
    color:white;
  }
  .techevent3 h2,h3{
    /* font-size: 25px; */
    margin: 15px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color:white;
}
.qbl{
    margin: 15px 20px;
    font-size: 20px;
    color: brown; 
}
.container5-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.container5-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.qbc1 h4, h5{
    margin: 20px 0px;
    color:white;
}
.qbc2 h4, h5{
    margin: 20px 0px;
    color:white;
}

.techevent4{
    /* background-color: bisque; */
    height: 500px;
    margin: 30px;
    
}
.qbp1{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 90px;
    font-size: 18px;
    color:white;
  }
  .techevent4 h2,h3{
    /* font-size: 25px; */
    margin: 15px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.qbl1{
    margin: 15px 20px;
    font-size: 20px;
    color: brown; 
}
.container6-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.container6-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.qbc1-1 h4, h5{
    margin: 20px 0px;
    color:white;
}
.qbc2-1 h4, h5{
    margin: 20px 0px;
    color:white;
}

.container7-1 h1{
    margin: 10px 20px 10px 30px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container7-1 hr{
    width: 150px;
    height: 3px;
    background-color: rgb(154, 171, 190);
    margin: 10px 0px 10px 30px;
}
.non-techevent1{
    /* background-color: bisque; */
    height: 500px;
    margin: 30px;
    
}
.cvp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 90px;
    font-size: 18px;
    color:white;
  }
  .non-techevent1 h2,h3{
    /* font-size: 25px; */
    margin: 15px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color:white;

}
.cvl{
    color: brown; 
}
/* .cvc1{
    margin: 15px 20px;
    font-size: 20px;
} */
.container8-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.container8-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.cvc1 h4, h5{
    margin: 20px 0px;
    color:white;
}
.cvc2 h4, h5{
    margin: 20px 0px;
    color:white;
}

.non-techevent2{
    /* background-color: bisque; */
    height: 600px;
    margin: 30px;
    
}
.ppap{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 90px;
    font-size: 18px;
    color:white;
  }
  .non-techevent2 h2,h3{
    /* font-size: 25px; */
    margin: 15px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    color:white;

}
.ppal{
    color: brown; 
}
/* .cvc1{
    margin: 15px 20px;
    font-size: 20px;
} */
.container9-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.container9-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.ppac1 h4, h5{
    margin: 20px 0px;
    color:white;
}
.ppac2 h4, h5{
    margin: 20px 0px;
    color:white;
}



.non-techevent3{
    /* background-color: bisque; */
    height: 600px;
    margin: 30px;
    
}
.bcp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 90px;
    font-size: 18px;
    color:white;
    
  }
  .non-techevent3 h2,h3{
    /* font-size: 25px; */
    margin: 15px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.bcl{
    color: brown; 
}
/* .cvc1{
    margin: 15px 20px;
    font-size: 20px;
} */
.container10-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.bfl{
    color: brown; 
}
.container10-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.bcc1 h4, h5{
    margin: 20px 0px;
    color:white;
}
.bcc2 h4, h5{
    margin: 20px 0px;
    color:white;
}
.hero3{
    border: 2px solid purple;
}
.hero4{
    border: 2px solid purple;
}
.hero5{
    border: 2px solid purple;
}
.hero6{
    border: 2px solid purple;
}
.hero7{
    border: 2px solid purple;
}
.hero8{
    border: 2px solid purple;
}
.hero9{
    border: 2px solid purple;
}
.hero10{
    border: 2px solid purple;
}
.non-techevent4{
    /* background-color: bisque; */
    height: 500px;
    margin: 30px;
    
}
.bfp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 90px;
    font-size: 18px;
    color:white;
  }
  .non-techevent4 h2,h3{
    /* font-size: 25px; */
    margin: 15px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    

}
/* .cvc1{
    margin: 15px 20px;
    font-size: 20px;
} */
.container11-1 p{
    margin: 15px 30px 15px 100px;
    color:white;
}
.container11-2{
    display: flex;

     justify-content: space-evenly; 
    /* margin: 10px 250px 10px 250px; */
}
.bfc1 h4, h5{
    margin: 20px 0px;
    color:white;
}
.bfc2 h4, h5{
    margin: 20px 0px;
    color:white;
}
footer{
    width: 100%;
    height: 380px;
    /* background-color: rgb(126, 126, 126); */
  
    color:white;
}
.coordinators{
    margin: 30px;
}
.coordinators h4{
    margin: 0px 0px 10px 150px;
    color:white;
}
.president{
    margin: 10px ;
    text-decoration: dotted;
    display: flex;
    gap: 100px;
    color:white;
}
.coordinator{
    margin: 10px ;
    text-decoration: dotted;
    display: flex;
    gap: 98px;
    color:white;
}

.TRUSTEE{
    margin: 10px ;
    text-decoration: dotted;
    display: flex;
    gap: 10px;
    color:white;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    color:white;
}
.insta{
    display: flex;
    margin: 20px;
    gap: 10px;
    color:white;
}
.insta img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.social_media{
    margin: 30px;
    color:white;
}
.website{
    display: flex;
    margin: 20px;
    gap: 10px;
    color:white;
}
.website img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.youtube{
    display: flex;
    margin: 20px;
    gap: 10px;
    color:white;
}
.youtube img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.facebook{
    display: flex;
    margin: 20px;
    gap: 10px;
    color:white;
}
.facebook img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.location{
    margin: 30px;

}
.location img{
    width: 100px;
    height: 100px;
    margin: 10px;

}
.mine{
    margin: 10px 0px 0px 50px;
    align-items: center;
    text-align: center;
    position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@media(min-aspect-ratio:16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}
@keyframes example {
    0%   {color:rgb(121, 65, 65); left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:rgb(70, 70, 122); left:200px; top:0px;}
    75%  {color:rgb(161, 76, 177); left:0px; top:0px;}
    100% {color:red; left:0px; top:0px;}
  }









@media only screen and (max-width:500px) {
    .body{
        width: 100%;
    }
    /* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backvideo {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    filter: brightness(60%); 

}

.logo1 img{
    cursor: pointer;
    height: 90px;
    width: 90px;
    background-color: black;
}
.header{
    justify-content: center;
    flex-wrap: wrap;
}
.headtitles{
    gap: 23px;
    margin: 10px;

}
.hero1{
    width: 100%;
    height: 200px;
    margin: 0px;
    
}
.hero1 p{
    margin: 0px 10px;
    font-size: 90px;
    padding: 20px 0px 0px 0px;
}



.container3-1 h1{
    margin: 10px 20px 10px 30px;
    color: rgb(148, 148, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container3-1 hr{
    width: 100px;
    height: 3px;
    background-color: rgb(154, 171, 190);
    margin: 10px 0px 10px 30px;
}
.techevent1{
    
    height: 1000px;
    margin: 30px;
    
}
.techevent1 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
  color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.ppp1{
    margin: 0px 50px 0px 0px;
}
.techevent1 p{
    width: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.topics{
    font-size: 20px;
    color: brown;
}
.container3-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    
}
 .ppc1{
    margin: 10px 150px 0px 0px;
    justify-content: start8;

}
.ppc1 h4, h5{
    margin: 10px 250px 15px 10px; 
   justify-content: start;
   width: 100%;
}
.ppc2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
    
}
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}
.techevent2{
    
    height: 1200px;
    margin: 10px;
    
}
.techevent2 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.techevent2 p{
    width: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
}
.container4-1 p{
    margin: 10px 280px 10px 10px;
    width: 80%;
}

.container4-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pym1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.pym2{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.pym1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.pym2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.pymp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}




.techevent3{
  
    height: 850px;
    margin: 30px;
    
}
.techevent3 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.techevent3 p{
  
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
    margin: 10px 50px;
    
    
}
.container5-1 p{
    margin: 10px 280px 10px 50px;
    width: 80%;
}

.container5-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.qbl{
    color: brown;
}
.qbc1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.qbc2{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.qbc1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.qbc2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.qbp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}




.techevent4{
    
    height: 850px;
    margin: 20px;
    
}
.techevent4 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.techevent4 p{
  
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
    margin: 10px 50px;
    
    
}
.container6-1 p{
    margin: 10px 280px 10px 50px;
    width: 80%;
}

.container6-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.qbl1{
    color: brown;
}
.qbc1-1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.qbc2-1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.qbc1-1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.qbc2-1 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.qbp1{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}





.non-techevent1{
    
    height: 850px;
    margin: 10px;
    
}
.non-techevent1 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.non-techevent1 p{
  
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
    margin: 10px 50px;
    
    
}
.container8-1 p{
    margin: 10px 280px 10px 50px;
    width: 80%;
}

.container8-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cvl{
    color: brown;
}
.cvc1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.cvc2{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.cvc1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.cvc2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.cvp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}



.non-techevent2{
  
    height: 850px;
    margin: 30px;
    
}
.non-techevent2 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.non-techevent2 p{
  
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
    margin: 10px 50px;
    
    
}
.container9-1 p{
    margin: 10px 280px 10px 50px;
    width: 80%;
}

.container9-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ppal{
    color: brown;
}
.ppac1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.ppac2{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.ppac1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.ppac2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.ppap{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}




.non-techevent3{
    
    height: 1050px;
    margin: 10px;
    
}
.non-techevent3 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.non-techevent3 p{
  
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
    margin: 10px 50px;
    
    
}
.container10-1 p{
    margin: 10px 280px 10px 50px;
    width: 80%;
}

.container10-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.bcl{
    color: brown;
}
.bcc1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.bcc2{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.bcc1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.bcc2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.bcp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}




.non-techevent4{
   
    height: 840px;
    margin: 10px;
    
}
.non-techevent4 h2,h3{
    /* font-size: 25px; */
    margin: 10px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.non-techevent4 p{
  
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    width: 80%;
    margin: 10px 50px;
    
    
}
.container11-1 p{
    margin: 10px 280px 10px 50px;
    width: 80%;
}

.container11-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.bfl{
    color: brown;
}
.bfc1{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.bfc2{
    margin: 10px 150px 0px 20px;
    justify-content: start8;

}
.bfc1 h4, h5{
    margin: 10px 250px 15px 10px; 
    justify-content: start;
    width: 100%;
}
.bfc2 h4, h5{
    margin: 10px 150px 15px 10px;
    width:  100%;
}
.bfp{
    width: 70%; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 0px 10px;
  }
.button{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    margin: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.button button:hover{
    scale: 1.1;
    background-color: aqua;
}

footer{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    gap: 10px;
}
.footer{
    display: table-row;
}
.coordinators{
    margin: 5px;
}
.coordinators h4{
    margin: 0px 0px 10px 120px;
    color:white;
}
.president{
    margin: 10px ;
    text-decoration: dotted;
    display: table-row;
    gap: 10px;
    color:white;
}
.male ,.female{
    margin: 10px 0px 20px 100px  ;
}
.coordinator{
    margin: 10px 0px 0px 90px ;
    display: table-row;
    align-items: center;
    
    color:white;
}
.TRUSTEE{
   
    display: table-row;
    align-items: center;
    
    color:white;
}






}

